# Discord
DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here

# PostgreSQL (локально или удалённо)
DB_HOST=your_host_here
DB_PORT=your_port_here
DB_USER=your_bot_username_here
DB_PASSWORD=your_bot_password_here
DB_NAME=your_db_name_here